body{
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  height:100vh;
}
.container{
  height:300px;
  width:600px;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}
h1{
  text-align: center;
}
.btn{
  margin-top: 25px;
  padding:6px 2px;
  border-radius: 4px;
  border:none;
  background-color: #DECBA4;
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 30px;
}
.btn:hover{
  background-color: #ecc473;
}